<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>eNovel - Collaborative Stories</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
         @Scripts.Render("~/bundles/jquery")
         @Scripts.Render("~/bundles/jqueryui")
         @Styles.Render("~/Content/themes/base/css")
         <script src="@Url.Content("~/Scripts/SiteMain.js")" type="text/javascript"></script>         
         <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">
                    <img src="../../Images/book.jpg" width="100px" height="100" alt="eNovel" />
                    <img src="../../Images/beta_logo.png" alt="eNovel" />
                    </p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - eNovel</p>
                </div>
            </div>
        </footer>
         @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryui")
<script src="@Url.Content("~/Scripts/SiteMain.js")" type="text/javascript"></script>
    @RenderSection("scripts", required: false) 
    </body>
</html>
